.conteiner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 16rem;
    width: 15rem;
    border-radius: 5%;  
    padding: 1rem;
    margin: 0;
    background-color: var(--terciary-color);
    transition: all 250ms;
    
}

.conteiner:hover{
    transform: translateY(-0.2rem);
    box-shadow:  white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 0 12px rgba(100, 149, 237, 0.3);
}

.imageConteiner{
    height: 10rem;
    width: 100%;
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.item-text{
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title{
    font-size: x-large;
    font-weight: 700;
    overflow: hidden;
    
}

.item-price{
    font-size: large;
    font-weight: 600;
}
